.managerWrapper {
  margin: 8px;
}

.managerRow1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 20px auto;
  padding: auto 8px;
  height: 200px;
  width: 891px;
}

@media only screen and (max-width: 891px) {
  .managerRow1 {
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    justify-content: center;

    margin: 0 auto;
    padding: 16px;
  }
}

.managerRow2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  padding: auto 8px;
  height: 200px;
  width: 891px;
}

@media only screen and (max-width: 891px) {
  .managerRow2 {
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    justify-content: center;

    margin: 0 auto;
    padding: 16px;
  }
}

.managerTextHeader {
  text-align: center;
}

.managerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;

  flex: 1;
  flex-wrap: wrap;
  margin: 10px;

  border: 1px solid var(--accent);
  border-radius: 10px;
  background: transparent;
  color: var(--text-white);
}

@media only screen and (max-width: 891px) {
  .managerColumn {
    flex-wrap: nowrap;

    padding: auto;
  }
}

.managerButton {
  background-color: transparent;
  color: var(--text-white);

  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;

  border: 1px solid var(--accent) !important;
  border-radius: 10px;

  margin-top: 20px;
  padding: 20px;

  font-size: 1rem;

  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.managerButton:hover {
  background-color: var(--accent) !important;
  transform: scale(0.98);
  transition: 0.5s;
  background: transparent;
}

.managerButton.disabled {
  cursor: not-allowed;
  background-color: transparent !important;
  font-weight: 100;
  border: 1px solid var(--grey) !important;
  color: var(--text-white) !important;
}

.managerButton.disabled:hover {
  transform: scale(1);
}

@media only screen and (max-width: 991px) {
  .managerButton {
    /* margin-bottom: 16px !important; */
  }
}
