.employeeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 80%;
}

.employeeDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--accent);
  color: var(--text-white);

  border-radius: 10px;
  width: 100%;
  margin-bottom: 2rem;
  padding: 4px;
}

.employeeHeader {
  color: var(--text-white);
}

.employeeColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid var(--accent);
  border-radius: 10px;
  background: transparent;
  color: var(--text-white);

  padding: 2rem;
  width: 50%;
  margin: 10px auto;
  text-decoration: none;
}
.employeeColumn:hover {
  background: var(--accent);
  transition: 0.5s;
}

.employeeColumn h3 {
  font-size: 1.6rem;
  text-align: center;
  margin: -8px auto;
}

.employeeColumn > p {
  margin: 4px 0;
}

.employeeButtons {
  display: flex;
  background-color: var(--accent);
  width: 100%;
  justify-content: center;
  align-items: space-around;
  border-radius: 10px;
  margin: 20px auto;
}

.employeeButtons a {
  padding: 4px;
}

.employeeButtons button {
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid var(--accent);
}

.employeeButtons button:hover {
  background-color: var(--accent);
  border: 1px solid var(--text-white);
  transition: 0.5s;
  color: var(--text-white);
}
