:root {
  --bg: #000;
  --grey: #2d2e2e;
  --btn-blue: #3891a6;
  --accent: #23ce6b;
  --text-white: #fbfbfb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif', 'Helvetica';
}

body {
  background-color: var(--bg);
}

.app {
  height: 100%;
  width: 100%;

  /* width: fit-content;
  height: fit-content; */

  display: flex;
  justify-content: center;
  align-items: center;
}
