:root {
  --bg: #000;
  --grey: #2d2e2e;
  --btn-blue: #3891a6;
  --accent: #23ce6b;
  --text-white: #fbfbfb;
}

.app {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
